In [1]:
import pandas as pd
import numpy as np
import data_completion_methods as daco
import data_augmentation_methods as daaug
import util
PATH_SAVE = 'augmented_data/'
PATH_AUTOCOMPLETE = 'autocomplete_data/'
PATH_DEFAULT = 'default_values/'

In [20]:
original_data = pd.read_csv(f'{PATH_AUTOCOMPLETE}completed_data__C01__01.csv', index_col=0)
dieds = original_data[original_data['estado_vital'] == 1]
dieds

,estado_vital,edad,sexo,peso,hipertension_arterial,diabetes_mellitus,tabaquismo,frecuencia_cardiaca,presion_arterial_sistolica,presion_arterial_diastolica,hb,creatinina,ckmb,fibrilacion_auricular,insuficiencia_renal_cronica,ieca,furosemida,otros_diureticos,clopidogrel
98,1.0,47.0,1.0,65.0,1.0,0.0,1.0,124.0,70.0,50.0,150.0,57.0,47.39,0.0,0.0,1.0,0.0,0.0,1.0
175,1.0,52.0,1.0,80.0,1.0,0.0,1.0,44.0,80.0,60.0,134.0,88.0,112.00,0.0,0.0,0.0,0.0,0.0,1.0
188,1.0,52.0,1.0,90.0,1.0,1.0,1.0,84.0,110.0,70.0,125.0,132.0,1.00,0.0,0.0,1.0,1.0,0.0,1.0
253,1.0,54.0,0.0,70.0,1.0,0.0,1.0,88.0,80.0,50.0,133.0,133.0,166.00,0.0,0.0,0.0,1.0,0.0,1.0
308,1.0,56.0,1.0,90.0,1.0,1.0,0.0,90.0,110.0,70.0,8.0,130.0,47.39,0.0,0.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,1.0,91.0,0.0,81.0,1.0,1.0,0.0,87.0,130.0,70.0,94.0,84.0,184.70,0.0,0.0,1.0,0.0,0.0,1.0
1341,1.0,91.0,0.0,50.0,1.0,0.0,0.0,83.0,120.0,70.0,122.0,115.0,152.00,0.0,0.0,1.0,0.0,1.0,1.0
1345,1.0,93.0,1.0,60.0,1.0,0.0,0.0,76.0,130.0,70.0,133.0,88.0,184.00,0.0,0.0,1.0,0.0,1.0,1.0
1347,1.0,94.0,1.0,95.0,1.0,1.0,0.0,43.0,80.0,50.0,134.0,120.0,143.00,0.0,0.0,0.0,1.0,0.0,1.0
1351,1.0,96.0,0.0,65.0,1.0,0.0,0.0,56.0,110.0,70.0,114.0,149.0,184.70,0.0,0.0,1.0,1.0,0.0,1.0

In [39]:
new_dieds = daaug.create_many_mod_record_from_json(1000,dieds,'augmented_data/feature_augmented__01.json')
new_dieds.reset_index(0,drop=True, inplace=True)
new_dieds

,estado_vital,edad,sexo,peso,hipertension_arterial,diabetes_mellitus,tabaquismo,frecuencia_cardiaca,presion_arterial_sistolica,presion_arterial_diastolica,hb,creatinina,ckmb,fibrilacion_auricular,insuficiencia_renal_cronica,ieca,furosemida,otros_diureticos,clopidogrel
0,1.0,83.314433,1.0,68.166984,1.0,0.0,0.0,68.426376,120.990645,67.252220,150.573703,113.355834,184.297168,0.0,0.0,1.0,0.0,0.0,1.0
1,1.0,83.223704,0.0,47.014135,1.0,0.0,0.0,88.237934,104.481198,79.014075,112.668504,121.526732,188.355528,0.0,0.0,1.0,1.0,0.0,1.0
2,1.0,63.648060,0.0,84.315191,1.0,1.0,0.0,91.090975,69.241688,42.037346,131.123552,84.811230,182.983901,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,86.036650,0.0,82.064828,1.0,1.0,0.0,113.578174,168.431638,100.510927,126.428378,135.331582,198.500506,0.0,0.0,1.0,1.0,1.0,1.0
4,1.0,64.764249,1.0,74.223707,1.0,0.0,0.0,90.000875,111.953708,76.872200,136.976492,139.506760,8.987315,1.0,0.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.0,90.252148,0.0,50.582200,1.0,0.0,1.0,113.518242,78.058979,55.014984,128.554563,133.667907,173.686037,0.0,0.0,1.0,1.0,0.0,1.0
996,1.0,70.953466,0.0,52.647424,1.0,1.0,0.0,38.687065,110.964342,77.417796,105.944637,104.443768,146.182199,0.0,0.0,1.0,1.0,0.0,0.0
997,1.0,66.201675,1.0,66.699112,1.0,0.0,0.0,90.745295,114.265448,76.123501,133.076751,138.227829,12.836477,1.0,0.0,1.0,0.0,1.0,1.0
998,1.0,76.132139,0.0,66.630694,1.0,1.0,0.0,115.927720,67.295435,35.734637,135.871794,126.800184,178.043956,0.0,0.0,0.0,1.0,1.0,1.0
999,1.0,88.200083,0.0,70.892673,1.0,0.0,0.0,119.115525,164.702613,91.451636,120.689066,107.648329,184.503910,0.0,0.0,1.0,1.0,0.0,1.0

In [43]:
mezclado = pd.concat([original_data, new_dieds])
mezclado.reset_index(0,drop=True, inplace=True)
mezclado

,estado_vital,edad,sexo,peso,hipertension_arterial,diabetes_mellitus,tabaquismo,frecuencia_cardiaca,presion_arterial_sistolica,presion_arterial_diastolica,hb,creatinina,ckmb,fibrilacion_auricular,insuficiencia_renal_cronica,ieca,furosemida,otros_diureticos,clopidogrel
0,0.0,13.000000,0.0,85.000000,1.0,0.0,0.0,60.000000,120.000000,70.000000,136.000000,70.000000,369.000000,0.0,0.0,1.0,0.0,1.0,1.0
1,0.0,15.000000,0.0,57.000000,1.0,1.0,1.0,95.000000,120.000000,70.000000,129.000000,105.000000,145.000000,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,19.000000,0.0,65.000000,1.0,0.0,0.0,67.000000,120.000000,80.000000,108.000000,61.000000,184.700000,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,23.000000,1.0,70.000000,1.0,0.0,0.0,88.000000,120.000000,70.000000,133.000000,81.000000,187.000000,0.0,0.0,1.0,0.0,1.0,1.0
4,0.0,28.000000,1.0,75.000000,1.0,0.0,1.0,77.000000,160.000000,100.000000,135.000000,74.000000,184.700000,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2348,1.0,90.252148,0.0,50.582200,1.0,0.0,1.0,113.518242,78.058979,55.014984,128.554563,133.667907,173.686037,0.0,0.0,1.0,1.0,0.0,1.0
2349,1.0,70.953466,0.0,52.647424,1.0,1.0,0.0,38.687065,110.964342,77.417796,105.944637,104.443768,146.182199,0.0,0.0,1.0,1.0,0.0,0.0
2350,1.0,66.201675,1.0,66.699112,1.0,0.0,0.0,90.745295,114.265448,76.123501,133.076751,138.227829,12.836477,1.0,0.0,1.0,0.0,1.0,1.0
2351,1.0,76.132139,0.0,66.630694,1.0,1.0,0.0,115.927720,67.295435,35.734637,135.871794,126.800184,178.043956,0.0,0.0,0.0,1.0,1.0,1.0
2352,1.0,88.200083,0.0,70.892673,1.0,0.0,0.0,119.115525,164.702613,91.451636,120.689066,107.648329,184.503910,0.0,0.0,1.0,1.0,0.0,1.0

In [44]:
mezclado.to_csv(f'{PATH_SAVE}augmented_data__C01__01__F01.csv')

In [45]:
original_data = pd.read_csv(f'{PATH_AUTOCOMPLETE}completed_data__C01__02.csv', index_col=0)
dieds = original_data[original_data['estado_vital'] == 1]
new_dieds = daaug.create_many_mod_record_from_json(1000,dieds,'augmented_data/feature_augmented__01.json')
new_dieds.reset_index(0,drop=True, inplace=True)
mezclado = pd.concat([original_data, new_dieds])
mezclado.reset_index(0,drop=True, inplace=True)

In [46]:
mezclado.to_csv(f'{PATH_SAVE}augmented_data__C01__02__F01.csv')

In [ ]:
original_data = pd.read_csv(f'{PATH_AUTOCOMPLETE}completed_data__C01__03.csv', index_col=0)
dieds = original_data[original_data['estado_vital'] == 1]
new_dieds = daaug.create_many_mod_record_from_json(1000,dieds,'augmented_data/feature_augmented__01.json')
new_dieds.reset_index(0,drop=True, inplace=True)
mezclado = pd.concat([original_data, new_dieds])
mezclado.reset_index(0,drop=True, inplace=True)

In [ ]:
mezclado.to_csv(f'{PATH_SAVE}augmented_data__C01__03__F01.csv')